In [30]:
import pandas as pd
import numpy as np
from statistics import stdev 
import pickle
from datetime import date
import matplotlib.pyplot as plt
from scipy.stats import zscore
import seaborn as sns

KOR_ticker = pd.read_csv('data/KOR_ticker.csv', index_col=0)
KOR_ticker['종목코드'] = KOR_ticker['종목코드'].astype(np.str).str.zfill(6)

KOR_value = pd.read_csv('data/KOR_value.csv', index_col=0)
KOR_value.index = KOR_value.index.astype(np.str).str.zfill(6)

KOR_price = pd.read_csv('data/KOR_price.csv', index_col = 0)
KOR_price.index = pd.to_datetime(KOR_price.index)
ret = KOR_price.pct_change()   

with open('data/KOR_fs.pickle', 'rb') as f:
    KOR_fs = pickle.load(f)

In [31]:
KOR_price.resample('BM').last()

,005930,000660,035420,051910,207940,035720,005380,006400,068270,000270,...,058220,038160,033600,195440,058420,121890,114570,080440,158310,028040
2016-04-29,24900,28150,135592,297000,NaN,100500,143500,114000,94000,47900,...,2195,NaN,1845,NaN,30439,6514,82954,8153,10600,6200.0
2016-05-31,25840,28700,144205,271000,NaN,102800,139500,112500,92599,46650,...,3035,NaN,1785,NaN,24272,6750,73999,8153,8980,7000.0
2016-06-30,28500,32400,142202,260000,NaN,93100,135500,108000,89795,43200,...,3460,NaN,1800,NaN,22890,5365,69993,8153,12250,7400.0
2016-07-29,30780,34400,142202,243500,NaN,90900,132000,105500,97270,42150,...,3800,NaN,2040,NaN,26459,5748,68230,8153,9500,7740.0
2016-08-31,32400,36450,169240,270500,NaN,81300,133000,115500,99793,41950,...,3425,5660.0,2035,NaN,21646,5424,65987,8153,7790,5030.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,81000,118500,292500,824000,826000.0,389500,192000,628000,359000,62400,...,275,862.0,179,2075.0,3829,739,620,498,505,279.0
2021-01-29,82000,122500,343000,917000,793000.0,441000,229000,734000,324000,82500,...,275,862.0,179,2075.0,2314,739,620,498,505,279.0
2021-02-26,82500,141500,375000,831000,750000.0,488000,237000,674000,297500,79400,...,275,862.0,179,2075.0,2160,739,620,498,505,279.0
2021-03-31,81400,132500,377000,805000,748000.0,498000,218000,660000,324500,82900,...,275,862.0,179,2075.0,2160,739,620,498,505,279.0
2021-04-30,83600,137000,393500,891000,789000.0,558000,234000,695000,313500,86700,...,275,862.0,179,2075.0,2160,739,620,498,505,6.0

In [58]:
from datetime import datetime

start_year = KOR_fs['매출액'].columns[1][0:4]
start_date = datetime.strptime(start_year + '-04-30', "%Y-%m-%d")
reb_date = pd.date_range(start_date, date.today(),
                         freq='M').strftime("%Y-%m-%d")

In [61]:
i = reb_date[0]

if date.today().month in(1,2,3):
    num_col = KOR_fs['매출액'].columns.str[0:4].get_loc(str(i.year - 2))
else:
    num_col = KOR_fs['매출액'].columns.str[0:4].get_loc(str(i.year - 1))
    
ROE = KOR_fs['지배주주순이익'] / KOR_fs['자본']
ROE.iloc[:, num_col]

AttributeError: 'str' object has no attribute 'year'

In [65]:
reb_date[0]

'2018-04-30'